.v-tab-block {
  border-radius: var(--v-radius-base);
  padding: var(--v-spacing-sm);
  background: var(--v-tab-block-bg);
  user-select: none;
  position: relative;
}

.v-tab-block_base {
  --v-tab-block-bg: var(--v-background-base);
  --v-tab-block-helper-color: var(--v-text-color-dark-5);
}
.v-tab-block_active {
  --v-tab-block-bg: var(--v-primary-color);
  --v-tab-block-helper-color: var(--v-text-color-light-5);
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--v-primary-color);
    /*border-radius: 200px;*/
  }
}

/*normal*/
.v-tab-block_normal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--v-spacing-sm);
}
.v-tab-block_normal-main {
  display: flex;
  flex-direction: column;
  position: relative;
}
.v-tab-block_normal-main_sub {
  position: absolute;
  top: 0;
  right: 0;
}
.v-tab-block_normal-sub {
  display: flex;
  gap: var(--v-spacing-sm);
  margin-top: 0.55rem;
  align-items: center;
}
.v-tab-block_normal-sub-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  &:not(:first-child) {
    padding: 0 0 0 var(--v-spacing-sm);
  }
  &:not(:first-child)::before {
    content: '';
    position: absolute;
    /*left: calc(-1 * var(--v-spacing-sm) / 2);*/
    left: 0;
    top: 50%;
    width: 1px;
    height: 65%;
    background: var(--v-tab-block-helper-color);
    transform: translateY(-50%);
  }
}

.v-tab-block_normal-sub_object {
  margin-top: 0.25rem;
}
/*group*/

/*simple*/
